<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8" />
      <title>Add Employee</title>
       
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      
      <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
   </head>
   <body>
	  <center><h1>Welcome</h1></center>
  	
   	  <header>
  	  	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="#"><h2 th:utext="${message}"></h2></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
		      <li class="nav-item active">
		        <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" th:href="@{/employee}">Employee list</a>  
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" th:href="@{/addEmployee}">Create Employee</a>
		      </li>
		    </ul>
		  </div>
		</nav>
  	  </header>
   	  <div class="container">
	      <center><h1>Create a Employee:</h1></center>
	       
	      <!--  
	         In Thymeleaf the equivalent of
	         JSP's ${pageContext.request.contextPath}/edit.html
	         would be @{/edit.html}         
	         
	          
	      <form th:action="@{/addEmployee}"
	         th:object="${employeeForm}" method="POST">
	         First Name:
	         <input type="text" th:field="*{prenom}" />    
	         <br/>
	         Last Name:
	         <input type="text" th:field="*{nom}" />     
	         <br/>
	         <input type="submit" value="Create" />
	      </form>
	       
	      <br/>-->
	      
	      <form th:action="@{/addEmployee}" th:object="${employeeForm}" method="POST">
	      	  <input type="hidden" th:field="*{id}" >
			  <div class="form-group">
			    <label for="inputFirstName">Prénom</label>
			    <input type="text" class="form-control" id="inputFirstName" aria-describedby="firstNameHelp" placeholder="Entrez votre nom" th:field="*{prenom}" >
			    <small id="firstNameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			  </div>
			  <div class="form-group">
			    <label for="inputlastName">Nom</label>
			    <input type="text" class="form-control" id="inputlastName" aria-describedby="lastNameHelp" placeholder="Entrez votre nom" th:field="*{nom}" >
			    <small id="lastNameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			  </div>
			  <div class="form-group">
			    <label for="exampleInputEmail1">Email address</label>
			    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" th:field="*{email}" >
			    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			  </div>
			  <div class="form-group">
			    <label for="exampleInputPassword1">Password</label>
			    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" th:field="*{password}" >
			  </div>
			  <div class="form-group form-check">
			    <input type="checkbox" class="form-check-input" id="exampleCheck1">
			    <label class="form-check-label" for="exampleCheck1">Check me out</label>
			  </div>
			  
			  
			  <div th:if="${modecreate} == true" 
		         style="color:red;font-style:italic;">
				  <button type="submit" class="btn btn-primary">Enregistrer</button>
		      </div>
		      
		      <div th:if="${modecreate} == false" 
		         style="color:red;font-style:italic;">
				  <button type="submit" class="btn btn-primary">Modifier</button>
		      </div>
		  </form>
	       
	      <!-- Check if errorMessage is not null and not empty -->
	       
	      <div th:if="${errorMessage}" th:utext="${errorMessage}"
	         style="color:red;font-style:italic;">
	         ...
	      </div>
   	  </div>
   </body>
</html>