<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<title>Hello, world!</title>
</head>
<body>
	<h1>Hello, world!</h1>


	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#"><h2 th:utext="${message}"></h2></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="/index">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" href="/employee">Employee</a>
				</li>
	</nav>

	<!--<table>
   <th:block th:each="employees : ${employee}">
      <tr>
         <td th:text="${employees.login}">login</td>
         <td th:text="${employees.nom}">name</td>
      </tr>
   </th:block>
</table>-->

	<table>
		<tr th:each="employees : ${employee}">
			<!--  <th scope="row" th:utext="${employees.getId()}">...</th>-->





			<td><a th:href="@{/employee/detail/{id}(id=${employees.id})}"
				th:text="${employees.id}">Title ...</a></td>
			<td th:utext="${employees.getNom()}">...</td>
			<td th:utext="${employees.getPrenom()}">...</td>
			<td th:utext="${employees.getLogin()}">...</td>
			<td th:utext="${employees.getEmail()}">...</td>
			<td th:utext="${employees.getRole()}">...</td>
			<td>
				<div
					style="display: flex; flex-direction: row; justify-content: center;">
					<a class="btn btn-outline-success" href="#collapseExample"
						role="button"> Modifier </a> <a class="btn btn-outline-danger"
						role="button">Supprimer</a>
				</div>
			</td>
		</tr>
	</table>


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>